<h1> <%= @tag.name %> </h1>

<h2>Informações da etiqueta</h2>

<table class='table' id="board-info">
  <tr>
    <td class="align-center">Nome</td>
    <td class="align-center"><%= @tag.name %></td>
  </tr>
  <tr>
    <td class="align-center">Descrição</td>
    <td class="align-center"><%= @tag.description %></td>
  </tr>
</table>

<div class="btn-group" id="profile-conf">
    <%= link_to "Editar etiqueta", edit_tag_path, class: "btn btn-default" %>
</div>